body {
    background-color: #fffff0;
    color: #382633;
    font-family: sans-serif;
}

#navbar {
    background-color: #382633;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 1.2em 0.3em 1.2em;
    border-radius: 0.65em 0.65em 0.65em 0.65em;
}

#headline1 {
    background-image: linear-gradient(90deg, #3e6990, #9db5b2);
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    width: calc(100% + 0.33em);
    margin-top: -0.45em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.25em #ff934f solid;
}

#headline1-2 {
    background-image: linear-gradient(90deg, #3e6990, #9db5b2);
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    width: calc(100% + 0.33em);
    margin-top: -0.45em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.25em #ff934f solid;
}


#headline2 {
    text-align: center;
    font-size: 3em;
}

#headline3-rec {
    text-align: center;
    background-color: #3e6990;
    color: #ffffff;
    width: 40%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-bottom: 0.4em #ff934f solid;
    border-radius: 0.6em 0.6em 0em 0em;
    font-size: 1.48em;
}

#a {
    margin-top: -1.28em;
    background-color: #d0d0d0;
    text-align: center;
    font-size: 1.15em;
    width: 40%;
    margin-left: auto;
    border-radius: 0em 0em 0.6em 0.6em;
    margin-right: auto;
    padding: 1em 1em 1em 1em;
}

#b {
    text-align: justify;
    font-size: 1.29em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #00ada6;
    padding: 0em 0.1em 0em 0.1em;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff934f;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    padding: 0em 0.1em 0em 0.1em;
}
